.App {
  text-align: center;
}

.item {
  width: 180px;
  min-height: 210px;
  border: 1px solid grey;
  border-radius: 3px;
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
}

.item-icon {
  width: 72px;
  height: 72px;
  fill: none;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-bottom: 8px;
}

.item-icon-cutout {
  fill: white;
}

#arty {
  top: 85%;
  left: 45%;
}

#target {
  top: 15%;
  left: 85%;
}

#officer {
  top: 35%;
  left: 15%;
}
