.App {
  text-align: center;
}

.item {
  width: 120px;
  height: 120px;
  border: 1px solid grey;
  border-radius: 3px;
  position: absolute;
}

#arty {
  top: 85%;
  left: 45%;
}

#target {
  top: 15%;
  left: 85%;
}

#officer {
  top: 35%;
  left: 15%;
}